@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;  
  }
  h2 {
    font-size: 22px;  
  }
  h3 {
    font-size: 18px;  
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
}

@media(min-width:767px) {
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}
	.top-nav-collapse {
		padding: 0;
	}
}

.intro-section {
	height: 100%;
	padding-top: 150px;
	text-align: center;
	background: url(../images/vent.png) no-repeat center center;
	background-size: 100%;
}

.about-section {
	height: 100%;
	padding-top: 75px;
	text-align: center;
	background: url(../images/radiantHeat.JPG) no-repeat center center;
	background-size: 100%;
}

.services-section {
	height: 100%;
	padding-top: 75px;
	text-align: center;
	background: url(../images/cabin.png) no-repeat center center;
	background-size: 100%;
}

.contact-section {
	height: 100%;
	padding-top: 75px;
	text-align: center;
	background: url(../images/darkPaper.JPG) no-repeat center center;
	background-size: 100%;
}

.threePack {
    margin: 0 auto 55px;
    display: block;
}

.heat {
    text-align: center;
    border-radius: 3px;
    border-bottom: 3px solid #D54925;
    margin-right: 78px;
	background: #eeeeee;
}

.cool {
    text-align: center;
    border-radius: 3px;
    border-bottom: 3px solid #3AA6CA;
    margin-right: 78px;
	background: #eeeeee;
}

.air {
    text-align: center;
    border-radius: 3px;
    border-bottom: 3px solid #9d9d53;
	background: #eeeeee;
}

ul.left {
	text-align: left;
	list-style-position: inside;
}
